<nb-card status="success" accent="info" size="medium">
    <nb-card-header>Sign-in & Sign-up</nb-card-header>
        <nb-card-body>
            <nb-tabset>
                <nb-tab tabTitle="Sign-in" tabIcon="person" responsive>
                    <app-login></app-login>
                </nb-tab>
                <nb-tab tabTitle="Sign-up" tabIcon="person-add" responsive>
                    <app-register></app-register>
                </nb-tab>
            </nb-tabset>
        </nb-card-body>
    <nb-card-footer><strong>By Anonymous</strong></nb-card-footer>
</nb-card>